.App {
  align-items: center;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: repeat(5, auto);
  height: 100vh;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  width: 100vw;
}

.LeftFrame {
  /* background-color: #f003; */
  font-size: 72px;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.BrownDividerContainer {
  display: none;
}

.RightFrame {
  /* background-color: #8c84; */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.RightFrame:after {
  content: "";
  height: 70%;
  left: 75%;
  position: absolute;
  top: 15%;
  width: 3px;
}

#start-menu-container {
  display: grid;
  font-weight: 600;
  grid-template-rows: repeat(6, auto);
  /* background-color: #f001; */
  height: 100%;
  width: 100%;
}

#start-menu-top-blank {
  grid-row: 1 / 2;
}

#start-menu-1 {
  /* background-color: #0f02; */
  grid-row: 2 / 3;
}

#start-menu-2 {
  grid-row: 3 / 4;
}

#start-menu-how-to-play-button {
  grid-row: 4 / 5;
}

#start-menu-options-button {
  grid-row: 5 / 6;
}

#start-menu-bottom-blank {
  grid-row: 6 / 7;
}

#ai-menu-container {
  /* background-color: #f002; */
  display: grid;
  font-size: 30px;
  padding-left: 50px;
  padding-top: 50px;
  text-align: left;
  width: 100%;
}

.ai-menu-button {
  /* background-color: #0f02; */
  font-size: 48px;
  font-weight: 600;
  padding-left: 10px;
}

#how-to-play-container {
  font-size: 24px;
  font-weight: 600;
  padding-left: 50px;
  padding-top: 50px;
  text-align: left;
  width: 90%;
}











#color-sample-container {
  display: flex;
  margin-left: 30px;
}

.color-sample {
  height: 50px;
  width: 50px;
  margin: 0 5px;
  min-height: 50px;
  min-width: 50px;
}

#white-sample {
  background-image: radial-gradient(circle closest-side,#fed 80%, #fff0 85%);
}

#black-sample {
  background-image: radial-gradient(circle closest-side,#444 80%, #fff0 85%);
}

#red-sample {
  background-image: radial-gradient(circle closest-side,#b00 80%, #fff0 85%);
}

#gold-sample {
  background-image: radial-gradient(circle closest-side,#fc0 80%, #fff0 85%);
}

#yg-sample {
  background-image: radial-gradient(circle closest-side,#90d21f 80%, #fff0 85%);
}

#green-sample {
  background-image: radial-gradient(circle closest-side,#035d30 80%, #fff0 85%);
}

#sky-sample {
  background-image: radial-gradient(circle closest-side,#0df 80%, #fff0 85%);
}

#blue-sample {
  background-image: radial-gradient(circle closest-side,#009 80%, #fff0 85%);
}

#purple-sample {
  background-image: radial-gradient(circle closest-side,#74007a 80%, #fff0 85%);
}

#pink-sample {
  background-image: radial-gradient(circle closest-side,#f8b 80%, #fff0 85%);
}

#lexicon-choice-container {
  display: flex;
  margin-left: 30px;
}

#go-to-start-menu-button {
  font-size: 24px;
  font-weight: 600;
  margin-top: 50px;
}
















#game {
  /* background-color: #0f04; */
  font-size: 12pt;
  font-weight: 700;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  width: 100%;
  -ms-overflow-style: none;
  /* padding: 30px; */
}

div:focus {
  outline: none;
}

.compDialogueContainer {
  display: grid;
  grid-template-columns: 25% 75%;
}

.compDialogue {
  /* background-color: #0f03; */
  border-radius: 20px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  margin: 10px 4vw;
  padding: 10px;
}

.compDialogueRightCap {
  /* border: 1px dashed #00f; */
  font-style: oblique;
  font-weight: 500;
}

.playerInputContainer {
  display: grid;
  grid-template-columns: 75% 25%;
}

.playerInput {
  /* background-color: #fffe; */
  border-radius: 20px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  margin: 10px 4vw;
  padding: 10px;
}

.playerInputLeftCap {
  /* border: 1px dashed #00f; */
  font-style: oblique;
  font-weight: 500;
}

.playerOptionBoxesContainer {
  display: flex;
  width: 100%;
}

.playerOptionBox {
  /* background-color: #fffe; */
  border-radius: 20px;
  margin: 10px 0vw 10px 4vw;
  padding: 10px;
}











/* --------------- SECTION: right frame --------------------------------------------------------------- */

#fox {
  /* background-color: #00f2; */
  /* border: 2px dashed #00f3; */
  height: 20vw;
  width: 20vw;
  margin: auto;
}

#scratchpad-container {
  align-items: center;
  /* background-color: #0f02; */
  /* border: 2px dashed #00f3; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  height: 20vw;
  margin: auto;
  margin-top: 20px;
  width: 20vw;
}

.letter_neutral {
  /* background-color: #0f02; */
  /* border: 1px solid #0002; */
  font-size: 1.4vw;
  font-weight: 700;
  height: 100%;
  user-select: none;
}

.letter_eliminated {
  /* background-color: #0f02; */
  /* border: 1px solid #0002; */
  font-size: 1.4vw;
  font-weight: 700;
  height: 100%;
  user-select: none;
}

.letter_proven {
  /* background-color: #fffb; */
  /* background-image: radial-gradient(circle closest-side,#fffb 97%, #fff0 99%); */
  /* border: 1px solid #0002; */
  /* color: #f00; */
  height: 100%;
  font-size: 1.4vw;
  font-weight: 700;
  text-align: center;
  user-select: none;
}

.scratchpad-text {
  transform: translate(0%, 40%);
}

.scratch-pad-reset-button {
  /* border: 1px solid #00f1; */
  font-size: 1.4vw;
  grid-column: 2 / 6;
  text-align: center;
}

.save-and-back {
  /* border: 2px dashed #00f; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  margin-top: 30px;
  width: 20vw;
}

#save-button {
  align-items: center;
  /* border: 2px dashed #0f0; */
  font-size: 1.4vw;
  grid-column: 1 / 2;
}

#main-menu-button {
  align-items: center;
  /* border: 2px dashed #f0f; */
  font-size: 1.4vw;
  grid-column: 2 / 3;
}

a {
  color: inherit;
  text-decoration: none;
}

















/* --------------- SECTION: colors --------------------------------------------------------------- */

.GoldTheme .App {
  background-color: #fc0; 
  color: #830;
}

.GoldTheme .RightFrame:after {
  background: #830;
}

.GoldTheme .compDialogue {
  background-color: #fffb;
}

.GoldTheme .playerInput {
  background-color: #fffb;
}

.GoldTheme .playerOptionBox {
  background-color: #fff0;
  border: 1px solid #830;
}

.GoldTheme .playerOptionBox:hover {
  background-color: #fffb;
  border-color: #fffb;
}

.GoldTheme .letter_eliminated {
  color: #8303;
}

.GoldTheme .letter_proven {
  background-image: radial-gradient(circle closest-side,#fffb 74%, #fff0 76%);
}

.GoldTheme #fox {
  stroke: #830;
}

.WhiteTheme .App {
  background-color: #fed;
  color: #830;
}

.WhiteTheme .RightFrame:after {
  background: #830;
}

.WhiteTheme .compDialogue {
  background-color: #fff;
}

.WhiteTheme .playerInput {
  background-color: #fff;
}

.WhiteTheme .playerOptionBox {
  background-color: #fff0;
  border: 1px solid #830;
}

.WhiteTheme .playerOptionBox:hover {
  background-color: #fff;
  border-color: #fff;
}

.WhiteTheme .letter_eliminated {
  color: #8302;
}

.WhiteTheme .letter_proven {
  background-image: radial-gradient(circle closest-side,#fff 74%, #fff0 76%);
}

.WhiteTheme #fox {
  stroke: #830;
}

.BlackTheme .App {
  background-color: #444;
  color: #fc0;
}

.BlackTheme .RightFrame:after {
  background: #fc0;
}

.BlackTheme .compDialogue {
  background-color: #000;
}

.BlackTheme .playerInput {
  background-color: #000;
}

.BlackTheme .playerOptionBox {
  background-color: #fff0;
  border: 1px solid #fc0;
}

.BlackTheme .playerOptionBox:hover {
  background-color: #000;
  border-color: #000;
}

.BlackTheme .letter_eliminated {
  color: #fc03;
}

.BlackTheme .letter_proven {
  background-image: radial-gradient(circle closest-side,#000 74%, #444 76%);
}

.BlackTheme #fox {
  stroke: #fc0;
}

.RedTheme .App {
  background-color: #b00;
  color: #fed;
}

.RedTheme .RightFrame:after {
  background: #fed;
}

.RedTheme .compDialogue {
  background-color: #0003;
}

.RedTheme .playerInput {
  background-color: #0003;
}

.RedTheme .playerOptionBox {
  background-color: #fff0;
  border: 1px solid #fed;
}

.RedTheme .playerOptionBox:hover {
  background-color: #0003;
  border-color: #0003;
}

.RedTheme .letter_eliminated {
  color: #fed4;
}

.RedTheme .letter_proven {
  background-image: radial-gradient(circle closest-side,#0005 74%, #fff0 76%);
}

.RedTheme #fox {
  stroke: #fed;
}

.YGTheme .App {
  background-color: #90d21f;
  color: #053;
}

.YGTheme .RightFrame:after {
  background: #053;
}

.YGTheme .compDialogue {
  background-color: #fffb;
}

.YGTheme .playerInput {
  background-color: #fffb;
}

.YGTheme .playerOptionBox {
  background-color: #fff0;
  border: 1px solid #053;
}

.YGTheme .playerOptionBox:hover {
  background-color: #fffb;
  border-color: #fffb;
}

.YGTheme .letter_eliminated {
  color: #0534;
}

.YGTheme .letter_proven {
  background-image: radial-gradient(circle closest-side,#fffb 74%, #fff0 76%);
}

.YGTheme #fox {
  stroke: #053;
}

.GreenTheme .App {
  background-color: #035d30;
  color: #ffc;
}

.GreenTheme .RightFrame:after {
  background: #ffc;
}

.GreenTheme .compDialogue {
  background-color: #0004;
  color: #ffc;
}

.GreenTheme .playerInput {
  background-color: #0004;
  color: #ffc;
}

.GreenTheme .playerOptionBox {
  background-color: #fff0;
  border: 1px solid #ffc;
  color: #ffc;
}

.GreenTheme .playerOptionBox:hover {
  background-color: #0004;
  border-color: #0004;
}

.GreenTheme .letter_eliminated {
  color: #ffc4;
}

.GreenTheme .letter_proven {
  background-image: radial-gradient(circle closest-side,#000 74%, #fff0 76%);
}

.GreenTheme #fox {
  stroke: #ffc;
}

.SkyTheme .App {
  background-color: #0df;
  color: #059;
}

.SkyTheme .RightFrame:after {
  background: #059;
}

.SkyTheme .compDialogue {
  background-color: #fffc;
}

.SkyTheme .playerInput {
  background-color: #fffc;
}

.SkyTheme .playerOptionBox {
  background-color: #fff0;
  border: 1px solid #059;
}

.SkyTheme .playerOptionBox:hover {
  background-color: #fffc;
  border-color: #fffc;
}

.SkyTheme .letter_eliminated {
  color: #0593;
}

.SkyTheme .letter_proven {
  background-image: radial-gradient(circle closest-side,#fffc 74%, #fff0 76%);
}

.SkyTheme #fox {
  stroke: #059;
}

.BlueTheme .App {
  background-color: #009;
  color: #def;
}

.BlueTheme .RightFrame:after {
  background: #def;
}

.BlueTheme .compDialogue {
  background-color: #0004;
  color: #def;
}

.BlueTheme .playerInput {
  background-color: #0004;
  color: #def;
}

.BlueTheme .playerOptionBox {
  background-color: #fff0;
  border: 1px solid #def;
  color: #def;
}

.BlueTheme .playerOptionBox:hover {
  background-color: #0004;
  border-color: #0004;
}

.BlueTheme .letter_eliminated {
  color: #def;
}

.BlueTheme .letter_proven {
  background-image: radial-gradient(circle closest-side,#000 74%, #fff0 76%);
}

.BlueTheme #fox {
  stroke: #def;
}

.PurpleTheme .App {
  background-color: #74007a;
  color: #fdf;
}

.PurpleTheme .RightFrame:after {
  background: #ff80b9;
}

.PurpleTheme .compDialogue {
  background-color: #fdf;
  color: #707;
}

.PurpleTheme .playerInput {
  background-color: #fdf;
  color: #707;
}

.PurpleTheme .playerOptionBox {
  background-color: #fff0;
  border: 1px solid #ff80b9;
}

.PurpleTheme .playerOptionBox:hover {
  background-color: #fdf;
  border-color: #fdf;
  color: #707;
}

.PurpleTheme .letter_eliminated {
  color: #ff80b944;
}

.PurpleTheme .letter_proven {
  background-image: radial-gradient(circle closest-side,#ff80b9 74%, #707 76%);
  color: #707;
}

.PurpleTheme #fox {
  stroke: #fdf;
}

.PinkTheme .App {
  background-color: #f8b;
  color: #705;
}

.PinkTheme .RightFrame:after {
  background: #705;
}

.PinkTheme .compDialogue {
  background-color: #fff8;
}

.PinkTheme .playerInput {
  background-color: #fff8;
}

.PinkTheme .playerOptionBox {
  background-color: #fff0;
  border: 1px solid #705;
}

.PinkTheme .playerOptionBox:hover {
  background-color: #fff8;
  border-color: #fff8;
}

.PinkTheme .letter_eliminated {
  color: #7053;
}

.PinkTheme .letter_proven {
  background-image: radial-gradient(circle closest-side,#fffa 74%, #fff0 76%);
}

.PinkTheme #fox {
  stroke: #705;
}

input {
  background-color: #0000;
  border: 0px solid #0001;
  color: #830;
  font-family: 'Segoe UI';
  font-size: 12pt;
  font-weight: 700;
  margin: 0px;
  outline: none;
  padding: 0px;
  text-align: center;
}






/* --------------------------- MOBILE ------------------------------------------------------------------------------------------ */
/* --------------------------- MOBILE ------------------------------------------------------------------------------------------ */
/* --------------------------- MOBILE ------------------------------------------------------------------------------------------ */







@media (max-width: 600px) {

  .App {
    align-items: center;
    background-color: #000;
    /* border: 5px solid #000; */
    display: grid;
    grid-template-rows: 70% 5% 25%;
    height: 100vh;
    justify-content: center;
    min-height: 98vh;
    text-align: center;
    width: 100vw;
  }

  .LeftFrame {
    /* background-color: #f002; */
    /* border: 1px dashed red; */
    font-size: 10vw;
    height: 100%;
    width: 100%;
    min-height: auto;
    min-width: auto;
    grid-row: 1 / 2;
    grid-column: 1 / 6;
  }

  .BrownDividerContainer {
    display: block;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-row: 2 / 3;
    grid-column: 1 / 6;
  }

  .BrownDivider {
    background-color: #830;
    height: 3px;
    width: 70%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .RightFrame {
    /* background-color: #fff; */
    /* border-top: 1px dashed blue; */
    display: grid;
    grid-template-columns: 55% 45%;
    height: 100%;
    width: 100%;
    min-height: auto;
    min-width: auto;
    grid-row: 3 / 4;
    grid-column: 1 / 6;
  }

  #start-menu-container {
    /* background-color: #ff00ff0f; */
    display: grid;
    font-weight: 600;
    grid-template-columns: repeat(6, auto);
    /* background-color: #f001; */
    height: 100%;
    width: 100%;
  }



  
  #fox {
    grid-column: 1 / 2;
    height: 20vh;
    width: auto;
    border: none;
  }

  .scratch-and-save {
    grid-column: 2 / 3;
    height: 100%;
  }

  #scratchpad-container {
    /* background-color: #0000ff0c; */
    margin: 0;
    height: 21vh;
    width: auto;
    font-size: 2.2vh;
    border: none;
    text-align: center;
  }

  .scratchpad-text {
    transform: translate(0%, 6%);
  }

  .letter_neutral, .letter_eliminated, .letter_proven {
    font-size: inherit;
    width: 3.5vh;
  }

  #save-button {
    font-size: inherit;
    height: 4vh;
    margin: 0;
    border: none;
    width: auto;
  }

  .scratch-pad-reset-button {
    font-size: inherit;
    text-align: center;
    margin: auto;
  }

  #save-button {
  align-items: center;
  font-size: inherit;
}





  .GoldTheme .App {
    background-color: #fc0; 
    color: #830;
  }
  
  .GoldTheme .RightFrame:after {
    background: #8300;
  }

}
