.App {
  align-items: center;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: repeat(5, auto);
  height: 100vh;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  width: 100vw;
}

.LeftFrame {
  /* background-color: #f003; */
  font-size: 72px;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.RightFrame {
  /* background-color: #8c88; */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.RightFrame:after {
  content: "";
  height: 70%;
  left: 75%;
  position: absolute;
  top: 15%;
  width: 3px;
}

#start-menu-container {
  display: grid;
  font-weight: 600;
  grid-template-rows: repeat(6, auto);
  /* background-color: #f001; */
  height: 100%;
  width: 100%;
}

#start-menu-top-blank {
  grid-row: 1 / 2;
}

#start-menu-1 {
  /* background-color: #0f02; */
  grid-row: 2 / 3;
}

#start-menu-2 {
  grid-row: 3 / 4;
}

#start-menu-how-to-play-button {
  grid-row: 4 / 5;
}

#start-menu-options-button {
  grid-row: 5 / 6;
}

#start-menu-bottom-blank {
  grid-row: 6 / 7;
}

#ai-menu-container {
  /* background-color: #f002; */
  display: grid;
  font-size: 30px;
  padding-left: 50px;
  padding-top: 50px;
  text-align: left;
  width: 100%;
}

.ai-menu-button {
  /* background-color: #0f02; */
  font-size: 48px;
  font-weight: 600;
  padding-left: 10px;
}

#how-to-play-container {
  font-size: 24px;
  font-weight: 600;
  padding-left: 50px;
  padding-top: 50px;
  text-align: left;
  width: 90%;
}

#game {
  /* background-color: #0f04; */
  font-size: 12pt;
  font-weight: 700;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  width: 100%;
  -ms-overflow-style: none;
  /* padding: 30px; */
}

div:focus {
  outline: none;
}

.compDialogueContainer {
  display: grid;
  grid-template-columns: 25% 75%;
}

.compDialogue {
  /* background-color: #0f03; */
  border-radius: 20px;
  margin: 10px 4vw;
  padding: 10px;
}

.playerInputContainer {
  display: grid;
  grid-template-columns: 75% 25%;
}

.playerInput {
  /* background-color: #fffe; */
  border-radius: 20px;
  margin: 10px 4vw;
  padding: 10px;
}

.playerOptionBoxesContainer {
  display: flex;
  width: 100%;
}

.playerOptionBox {
  /* background-color: #fffe; */
  border-radius: 20px;
  margin: 10px 0vw 10px 4vw;
  padding: 10px;
}

.playerOptionBox:hover {
  /* background-color: #fffe; */
  background-color: #fffb;
  border: 1px solid #fffb;
}

#fox {
  height: 20vw;
  width: 20vw;
  margin: auto;
}

#scratchpad-container {
  align-items: center;
  /* background-color: #0f02; */
  /* border: 1px dashed #00f; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  height: 20vw;
  margin: auto;
  margin-top: 50px;
  width: 20vw;
}

.letter_neutral {
  /* background-color: #0f02; */
  /* border: 1px solid #0002; */
  font-size: 1.4vw;
  font-weight: 700;
  height: 100%;
  user-select: none;
}

.letter_eliminated {
  /* background-color: #0f02; */
  /* border: 1px solid #0002; */
  font-size: 1.4vw;
  font-weight: 700;
  height: 100%;
  user-select: none;
}

.letter_proven {
  /* background-color: #fffb; */
  /* background-image: radial-gradient(circle closest-side,#fffb 97%, #fff0 99%); */
  /* border: 1px solid #0002; */
  /* color: #f00; */
  height: 100%;
  font-size: 1.4vw;
  font-weight: 700;
  text-align: center;
  user-select: none;
}

.scratchpad-text {
  transform: translate(0%, 40%);
}