.App {
  background-color: #74007a;
  color: #ff80b9;
}

.RightFrame:after {
  background: #ff80b9;
}

.compDialogue {
  background-color: #ff80b9;
  color: #707;
}

.playerInput {
  background-color: #ff80b9;
  color: #707;
}

.playerOptionBox {
  background-color: #fff0;
  border: 1px solid #ff80b9;
}

.letter_eliminated {
  color: #ff80b944;
}

.letter_proven {
  background-image: radial-gradient(circle closest-side,#ff80b9 74%, #707 76%);
  color: #707;
}

#fox {
  stroke: #ff80b9;
}