.App {
  background-color: #fed;
  color: #830;
}

.RightFrame:after {
  background: #830;
}

.compDialogue {
  background-color: #fff;
}

.playerInput {
  background-color: #fff;
}

.playerOptionBox {
  background-color: #fff0;
  border: 1px solid #830;
}

.letter_eliminated {
  color: #8302;
}

.letter_proven {
  background-image: radial-gradient(circle closest-side,#fff 74%, #fff0 76%);
}

#fox {
  stroke: #830;
}