.App {
  background-color: #90d21f;
  color: #053;
}

.RightFrame:after {
  background: #053;
}

.compDialogue {
  background-color: #fffb;
}

.playerInput {
  background-color: #fffb;
}

.playerOptionBox {
  background-color: #fff0;
  border: 1px solid #053;
}

.letter_eliminated {
  color: #0534;
}

.letter_proven {
  background-image: radial-gradient(circle closest-side,#fffb 74%, #fff0 76%);
}

#fox {
  stroke: #053;
}