.App {
  background-color: #035d30;
  color: #dfe;
}

.RightFrame:after {
  background: #dfe;
}

.compDialogue {
  background-color: #0004;
  color: #dfe;
}

.playerInput {
  background-color: #0004;
  color: #dfe;
}

.playerOptionBox {
  background-color: #fff0;
  border: 1px solid #dfe;
  color: #dfe;
}

.letter_eliminated {
  color: #dfe4;
}

.letter_proven {
  background-image: radial-gradient(circle closest-side,#000 74%, #fff0 76%);
}

#fox {
  stroke: #dfe;
}