.App {
  background-color: #0df;
  color: #059;
}

.RightFrame:after {
  background: #059;
}

.compDialogue {
  background-color: #fffc;
}

.playerInput {
  background-color: #fffc;
}

.playerOptionBox {
  background-color: #fff0;
  border: 1px solid #059;
}

.letter_eliminated {
  color: #0593;
}

.letter_proven {
  background-image: radial-gradient(circle closest-side,#fffc 74%, #fff0 76%);
}

#fox {
  stroke: #059;
}