.App {
  background-color: #fc0;     /* done */
  color: #830;                /* done */
}

.RightFrame:after {
  background: #830;
}

.compDialogue {
  background-color: #fffb;
}

.playerInput {
  background-color: #fffb;
}

.playerOptionBox {
  background-color: #fff0;
  border: 1px solid #830;
}

.letter_eliminated {
  color: #8303;
}

.letter_proven {
  background-image: radial-gradient(circle closest-side,#fffb 74%, #fff0 76%);
}

#fox {
  stroke: #830;                 /* done */
}